body,html{
  height:100%;
  background-color: white;
}

/*
.container{
	height: 100%;
	width: 100%;
	background-color: white;
}
*/

.container canvas{
	margin: auto;
	padding-left: 30%;
	padding-top: 2%;
}

.container input[type=text]{
	text-align: left;
	font-size: 60px;
}

.spacer {
  margin-top: 40px;
}


.title{
	width: 100%;
	padding-top: 1%;
	padding-bottom: 5px;
	margin: auto;
}

.dial{
	margin-right: auto;
	margin-left: auto;
}

.kwh{
	position: relative;
	vertical-align: middle; 
	margin-left: -122px; 
	border: 0px; 
	background-image: none; 
	font-weight: bold; 
	font-style: normal; 
	font-variant: normal; 
	font-size: 50pt; 
	line-height: normal; 
	font-family: Arial;
	color: rgba(0, 255, 0, 0.701961); 
	padding: 0px; 
	background-color: transparent;
}

.consumption{
	background: url("../images/curr_consumption.png");
	background-size: auto;
	/*
	background-size: cover;
	height: 150px;
	width: 350px;
	*/
	display: block;
	margin: auto;
}

.house{
	display: inline-block;
	background: url("../images/house.jpeg");
	height: 120px;
	width: 120px;
	background-size: contain;
	float: left;
	margin-right: 8px;
}

#address{
	display: inline-block;
	font-size: 60pt;
	margin-top: 15pt;
}

#headerLabel{
	display: block;
	padding-top: 5px;
	margin-left: 12%;
	font-size: 34pt;
}

.data{
	width: 100%;
	position: fixed;
	bottom: 10px;
}
.estimated_output{
	display: inline-block;
	background: url("../images/estimated_output.png");
	background-size: auto;
	/*
	height: 350px;
	width: 410px;
	background-size: contain;
    */
}

.pgelogo{
	display: inline-block;
	background: url("../images/PGE_logo.png");
	background-size: auto;
	/*
	height: 330px;
	width: 410px;
	background-size: contain;
    */
}

/**
 * D3 difference graph styles
 */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.area.above {
  fill: rgb(252,141,89);
}

.area.below {
  fill: rgb(145,207,96);
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

/**
 * Flot Styles
 */
#placeholder {
	/*width: 850px;*/
	/*height: 425px; */
	width: 450px;
	height: 200px;
	padding: 10px 5px 0 0;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.axisLabel {
	position: absolute;
	text-align: center;
	font-size: 12px;
}

.yaxisLabel {
	top: 50%;
	left: 2px;
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform:  rotate(-90deg);
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.ie7 .yaxisLabel, .ie8 .yaxisLabel {
	top: 40%;
	font-size: 36px;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.0, M12=0.33, M21=-0.33, M22=0.0,sizingMethod='auto expand');
}
 