@charset "UTF-8";

/* Large desktop */
@media (min-width: 1200px) {
  
  .responsive {
    height: 100%;
    width: 100%;  
  }

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
  .responsive {
    height: 80%;
    width: 80%;  
  }
  
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  
  .responsive {
    height: 60%;
    width: 60%;  
  }
  
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  
  .responsive {
    height: 40%;
    width: 40%;  
  }
  
}
